@use './variables';
@use './media';
@use '../../6_shared/styles/fonts';

html {
    scroll-behavior: smooth;
    font-weight: 400;
    font-size: 16px;

    @include media.media(variables.$desktop-sm) {
        font-size: 13px;
    }

    @include media.media(variables.$tablet-lg) {
        font-size: 11px;
    }

    @include media.media(variables.$tablet-md) {
        font-size: 9px;
    }
}

body {
    margin: 0;
    min-width: 320px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a {
    color: #000;
}

img {
    height: auto;
    width: 100%;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

main>section {
    max-width: 1920px;
    width: 100%;
    min-height: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
}

.container-box {
    width: 1230px;
    margin: 0 auto;
    box-sizing: border-box;

    @include media.media(variables.$desktop-sm) {
        width: 1023px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include media.media(variables.$tablet-md) {
        width: 708px;
        padding-left: 0;
        padding-right: 0;
    }

    @include media.media(variables.$tablet-sm) {
        width: 100%;
        padding: 0 3%;
    }
}